alembic
certifi
charset-normalizer
click
Flask
Flask-Cors
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
pip
pyparsing
requests
setuptools
six
SQLAlchemy
tqdm
urllib3
Werkzeug
wheel
