{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %} {{ title }} - Admin {% else %} Admin {% endif %}
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <a class="btn" href="{{url_for('base')}}">Home</a>
        {% if current_user.is_authenticated %}
            <a class="btn" href="{{url_for('')}}">About Me</a>
            <a class="btn" href="{{url_for('logout')}}">Logout</a>
        {% else %}
            <a class="btn" href="{{url_for('login')}}">Login</a>
        {%endif%}
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {%with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{message}}</div>
                {%endfor%}
            {%endif%}
        {%endwith%}
        {%block app_content%}
        {%endblock%}
    </div>
{% endblock %}