{% extends "mdbootstrap/base.html" %}

{% block title %}
    {% if title %} {{ title }} - Admin {% else %} Admin {% endif %}
{% endblock %}

<!-- MDB -->
{% block scripts %}
    {% if config.get('MDBOOTSTRAP_USE_PRO', False) %}
    <!-- jQuery -->
    <script src="{{ mdbootstrap_find_resource('MDB-Pro/js/jquery.js', cdn='local') }}"></script>
    <!-- Bootstrap tooltips -->
    <script src="{{ mdbootstrap_find_resource('MDB-Pro/js/popper.js', cdn='local') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ mdbootstrap_find_resource('MDB-Pro/js/bootstrap.js', cdn='local') }}"></script>
    <!-- MDB core JavaScript -->
    <script src="/static/scripts/shitty.js"></script>

    {% else %}
    <!-- jQuery -->
    <script src="{{ mdbootstrap_find_resource('MDB/js/jquery.js', cdn='local') }}"></script>
    <!-- Bootstrap tooltips -->
    <script src="{{ mdbootstrap_find_resource('MDB/js/popper.js', cdn='local') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ mdbootstrap_find_resource('MDB/js/bootstrap.js', cdn='local') }}"></script>
    <!-- MDB core JavaScript -->
    <script src="/static/scripts/shitty.js"></script>
    {% endif %}
{% endblock scripts %}

{% block body %}

{%- block styles %}
<!-- Font Awesome -->
<link rel="stylesheet" href="{{ mdbootstrap_find_resource('plugins/fontawesome-free/css/all.css', cdn='local') }}" rel="stylesheet" type="text/css">
{% if config.get('MDBOOTSTRAP_USE_PRO', False) %}
<!-- Bootstrap -->
<link rel="stylesheet" href="{{ mdbootstrap_find_resource('MDB-Pro/css/bootstrap.css', cdn='local') }}" rel="stylesheet" type="text/css">
<!-- MDB -->

<link rel="stylesheet" href="/static/styles/style.css" rel="stylesheet" type="text/css">
{% else %}
<!-- Bootstrap -->
<link rel="stylesheet" href="{{ mdbootstrap_find_resource('MDB/css/bootstrap.css', cdn='local') }}" rel="stylesheet" type="text/css">
<!-- MDB -->

<link rel="stylesheet" href="/static/styles/style.css" rel="stylesheet" type="text/css">

{% endif %}
{%- endblock styles %}

{% block header %}
<style>body {
    background-color: #313131;
    padding-top: 25px;
    padding-left: 10px;
  }
  @media (min-width: 991.98px) {
    body {
      padding-left: 240px;
      
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }</style>
<!--Main Navigation-->
<header>
    <!-- Navbar -->
    {% block navbar %}
    <nav id="main-navbar" class="navbar navbar-expand-lg fixed-top bg-dark">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img
            src="/static/imgs/favico.png"
            height="50"
            alt="ASS"
            loading="lazy"
          />
        </a>

  
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Icon -->
          <li class="nav-item">
            <a class="nav-link me-3 me-lg-0" href="{{url_for('logout')}}">
                <i class="fas fa-power-off" aria-hidden="true"></i>
            </a>
          </li>

        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    {%endblock%}
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  {% block sidebar %}
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-dark">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4 bg-dark">
        <a
          href="#"
          class="list-group-item list-group-item-action py-2 ripple bg-dark"
          aria-current="true"
        >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple active bg-dark">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Webiste traffic</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark"
          ><i class="fas fa-lock fa-fw me-3"></i><span>Password</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark"
          ><i class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark"
          ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark"
          ><i class="fas fa-globe fa-fw me-3"></i><span>International</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark"
          ><i class="fas fa-building fa-fw me-3"></i><span>Partners</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark"
          ><i class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark"
          ><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a
        >
        <a href="#" class="list-group-item list-group-item-action py-2 ripple bg-dark"
          ><i class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a
        >
      </div>
    </div>
  </nav>
  <!-- Sidebar -->
  {% endblock %}
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4"></div>
  </main>
  <!--Main layout-->
{% endblock %}

{% block content %}
    <div class="container">
        {%with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{message}}</div>
                {%endfor%}
            {%endif%}
        {%endwith%}
        {%block app_content%}
        {%endblock%}
    </div>
{% endblock %}
{% endblock %}